{{- if .Values.serviceAccount.create }}
---
# Scoped service account
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "controller.fullname" . }}
  labels:
    {{- include "controller.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  namespace: {{ .Values.namespace }}
automountServiceAccountToken: true
{{- end }}

---
# Access for the service account
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "controller.fullname" . }}
rules:
  - apiGroups: ["cloudfalre.com"]
    resources: ["zone", "zone/status", "zone/finalizers"]
    verbs: ["get", "list", "watch", "patch", "update"]
  - apiGroups: ["cloudfalre.com"]
    resources: ["account", "account/status", "account/finalizers"]
    verbs: ["get", "list", "watch", "patch", "update"]
  - apiGroups: ["cloudfalre.com"]
    resources: ["dnsrecord", "dnsrecord/status", "dnsrecord/finalizers"]
    verbs: ["get", "list", "watch", "patch", "update"]
  - apiGroups: [""]
    resources: ["secret"]
    verbs: ["get"]
  - apiGroups: ["events.k8s.io"]
    resources: ["events"]
    verbs: ["create"]

---
# Binding the role to the account
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "controller.fullname" . }}
subjects:
- kind: ServiceAccount
  namespace: {{ .Values.namespace }}
  name: {{ include "controller.fullname" . }}
roleRef:
  kind: ClusterRole
  name: {{ include "controller.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
